
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600)
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css)

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "_variables.scss"
@import "_responsive.scss"
@import "bourbon/bourbon"
@import "neat/neat"

$juske: #E74C3C
$myha: #3498DB

+keyframes(vs)
	from
		opacity: 0
	to
		opacity: 1
		
+keyframes(expl)
	from
		opacity: 0
		+transform(translate(-50%, -50%) rotate(-3deg) scale(20))
	to
		opacity: 1
		+transform(translate(-50%, -50%) rotate(-3deg) scale(1))

.fade-enter-active, .fade-leave-active
	transition: opacity .8s
.fade-enter, .fade-leave-to 
	opacity: 0

.expl
	position: absolute
	top: 100px
	left: 50%
	+transform(translate(-50%, -50%) rotate(-3deg) scale(20))
	opacity: 0
	z-index: 200 
	background-color: #FFF
	padding: 10px 30px
	-webkit-box-shadow: 0 3px 20px 0 rgba(#000, 0.2) 
	 box-shadow: 0 3px 20px 0 rgba(#000, 0.2) 
	+animation(expl 300ms ease-in-out forwards)
	+animation-delay(1700ms) 
	+user-select(none)
	+transition(100ms all ease-in-out)
	cursor: default
	p
		padding: 0
		margin: 0
		font-size: 1.7em
		text-transform: uppercase 
		font-weight: 800
		letter-spacing: 6px

.oseba
	position: absolute
	width: 50%
	height: 100%
	top: 0
	transition: 150ms all ease-in-out
	+mq($until: tablet)
		width: 100% !important
		height: 50% !important
	&:first-of-type
		left: 0
		+linear-gradient($juske, darken($juske, 16%))
		+mq($until: tablet)
			top: 0
	&:last-of-type
		right: 0
		+linear-gradient($myha, darken($myha, 16%))
		+mq($until: tablet)
			top: 50%
		&:before
			content: "VS"
			position: absolute
			left: -40px
			top: 45%
			width: 80px
			height: 80px
			background-color: #FFF 
			-webkit-border-radius: 100% 
			border-radius: 100% 
			text-align: center
			padding-top: 21px
			+transform(transitionY(-50%)) 
			font-size: 2em
			font-weight: 200
			color: rgba(#000, 0.7)  
			letter-spacing: 2px  
			box-shadow: 0 3px 20px 0 rgba(#000, 0.3)
			opacity: 0
			+animation(vs 200ms ease-in-out forwards)
			+animation-delay(1500ms)
			z-index: 150
	.izgovori
		position: absolute
		width: 300px
		height: 25px
		left: 50%
		top: 65%
		transform: translate(-50%, -50%)
		transition: 100ms all ease-in-out
		+mq($until: tablet)
			top: 50%
		&.active
			height: 150px
			top: 74%
			+mq($until: tablet)
				top: 64%
				height: 130px
		p
			margin: 0
			color: rgba(#fff, 0.7)
			font-size: 1.2em
			font-weight: 300  
			cursor: pointer
			border-bottom: 1px solid rgba(#fff, 0.14)
			padding-bottom: 5px
			position: absolute
			width: 100%
			height: 20%
			left: 0
			top: 0
			transition: 100ms all ease-in-out
			text-align: center
			&.active
				color: #FFF
				&:hover
					color: #FFF 
			&.inactive
				border-bottom: none   
			&:hover
				color: rgba(#fff, 0.9) 
		ul
			position: absolute
			left: 0
			top: 20%
			overflow: hidden
			list-style: none
			width: 100%
			height: 80%
			margin: 0
			padding: 0px 0 0 
			overflow: scroll
			transition: 100ms all ease-in-out
			li
				width: 100%
				float: left
				list-style: none
				color: rgba(#fff, 0.7)
				border-bottom: 1px dotted rgba(#fff, 0.09)
				padding: 10px 6px
				&:last-child
					border-bottom: none 
				&:hover
					background-color: rgba(#fff, 0.05) 
				span
					margin: 0
					padding: 0
					float: left
					position: static 
				small
					float: right
	.napaka
		position: absolute
		width: 100%
		bottom: 10%
		text-align: center
		p
			margin: 0
			padding: 0
			color: rgba(#fff, 0.9) 
	.add
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 99
		transition: 100ms all ease-in-out
		&.juske
			+linear-gradient($juske, darken($juske, 7%))
		&.myha
			+linear-gradient($myha, darken($myha, 7%))
		.form-group
			position: absolute
			top: 50%
			left: 50%
			width: 70%
			+transform(translate(-50%, -50%))
			label
				color: #FFF 
			input
				-webkit-border-radius: 0 
				border-radius: 0 
	.plus
		width: 35px
		height: 35px
		position: absolute
		bottom: 0%
		left: 50%
		transform: translate(-50%, -50%)
		color: rgba(#fff, 0.8)
		text-align: center
		border: 1px solid rgba(#fff, 0.8)
		-webkit-border-radius: 3px 
		border-radius: 3px 
		transition: 100ms all ease-in-out
		cursor: pointer
		z-index: 100
		&:hover
			color: rgba(#000, 0.8) 
			border: 1px solid rgba(#fff, 1)
			background-color: #fff 
		&.active
			width: 80px
			text-align: center
			&.juske
				&:hover
					color: $juske
					background-color: #fff  
			&.myha
				&:hover
					color: $myha
					background-color: #fff  
			p
				margin: 0
				padding: 0
				position: absolute
				top: 50%
				width: 100%
				transform: translateY(-50%)
		span
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
		i
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	.inside
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
		+user-select(none)
		cursor: default
		+mq($until: tablet)
			top: 25%
		h1
			font-size: 10em
			color: #FFF
			font-weight: 800
			margin: 0 40px 0 0 
			width: 100%
			text-shadow: 0 2px 15px rgba(#000, 0.2) 
			+mq($until: tablet)
				font-size: 6em 
		h2
			font-size: 4em
			color: rgba(#fff, 0.86)
			font-weight: 300 
			margin: 0
			width: 100%
			text-transform: capitalize
			text-shadow: 0 4px 10px rgba(#000, 0.1) 
			+mq($until: tablet)
				font-size: 2.5em 
